<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUPABASE_KEY</key>
	<string>$(eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpvYWJsbGl3em9peWVwcGZkdWd2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njg4MjI1NTUsImV4cCI6MjA4NDM5ODU1NX0.2DRw3Wd9czTxnofN3iTqDzTdS48iYT4uUz7SR1NpnGA)</string>
	<key>SUPABASE_URL</key>
	<string>$(https://zoablliwzoiveppfdugv.supabase.co)</string>
	<key>WEATHER_API_KEY</key>
	<string>$(129743615315726f6cf1696dabde71f9)</string>
</dict>
</plist>
