//
//  Secrets.xcconfig
//  Glasscast
//
//  Created by NIKHIL on 19/01/26.
//

SUPABASE_URL=https://zoablliwzoiveppfdugv.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXB...M5ODU1NX0.2DRw3Wd9cTxnofN3iTqDzTdS48iYT4uUz7SR1NpnGA
WEATHER_API_KEY=129743615315726f6cf1696dabde71f9
